body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-content: start;
  height: 400px;
  width: 400px;
  border: 1px solid black;
}
.innerDiv {
  display: flex;
  background-color: aliceblue;
  flex-basis: calc(100% / var(--num-Div));
  aspect-ratio: 1/1;
  box-sizing: border-box;
}
