@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,300&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #2980b9;
}
body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0c192c;
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bubbles {
  position: relative;
  display: flex;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #4fc3dc;
  margin: 0 4px;
  border-radius: 100%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background-color: #d12751;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #d12751, 0 0 100px #d12751;
}
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
.fram {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-content: start;
  height: 400px;
  width: 400px;
  border: 1px solid black;
}
.innerDiv {
  display: flex;
  background-color: #16161ac5;
  flex-basis: calc(100% / var(--num-Div));
  aspect-ratio: 1/1;
  box-sizing: border-box;
  z-index: 1;
}

.settings {
  z-index: 1;
  background-color: #16161ac5;
  min-height: 50vh;
  min-width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 30px;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}
.gridSize {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  min-height: 75px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 50%;
  margin-top: -7.5px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 50%;
  margin-top: -7.5px;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #d12751;
  height: 5px;
  border-radius: 10%;
}
.colorSwitcher {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  padding: 10px;
  /* background-color: #fff; */
  z-index: 1000;
}

.colorSwitcher h3 {
  color: var(--main-color);
  font-size: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #33333333;
  padding: 5px 0;
  text-align: center;
}
.colorSwitcher .themeColorContainer {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
}

.colorSwitcher .switcherBtn i {
  color: var(--main-color);
  cursor: pointer;
  font-size: 25px;
  padding: 20px 10px;
}
.colorSwitcher .switcherBtn i {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.colorSwitcher .themeColorContainer .themeBtn {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px;
}
.themeColorContainer.show {
  animation: show 1s forwards;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn {
  background: var(--main-color);
  margin: 20px;
  border: none;
  z-index: 1;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn:after {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px var(--main-color),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn:hover {
  color: var(--main-color);
}
.btn:hover:after {
  left: 0;
  width: 100%;
}

.btnActive {
  background-color: var(--main-color);
  opacity: 0.5;
}
